html {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.card1 {
  border: 2px solid black;
  border-radius: 7px;
}

.card2 {
  border: 2px solid black;
  border-radius: 7px;
}
*::selection {
  background-color: #c2c2c2;
}

.login {
  height: 25%;
}
nav {
  text-align: right;
}
.dataBtn {
  display: flex;
  justify-content: center;
  margin: 15px;
  width: 12%;
  height: 8%;
  margin-top: 20px;
  margin-right: 120px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #34495e;
  color: #34495e;
  font-weight: bold;
  transition: 0.4s;
  border: 0px;
}
.dataBtn:hover {
  border-radius: 20px;
}

.btnSignOut {
  display: flex;
  justify-content: center;
  margin-left: 100%;
  margin-right: 100%;
  right: 0;
  margin-left: 88%;
  width: 12%;
  height: 8%;
  font-size: 20px;
  border-radius: 15px;
  background-color: #34495e;
  color: white;
  transition: 0.4s;
}
.btnSignOut:hover {
  display: flex;
  justify-content: center;
  margin-left: 100%;
  margin-right: 100%;
  right: 0;
  margin-left: 88%;
  width: 12%;
  height: 8%;
  font-size: 20px;
  border-radius: 15px;
  background-color: white;
  color: #34495e;
}

.btnSignIn {
  border-radius: 15px;
  margin-top: 45px;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  background-color: #34495e;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
  text-decoration: none;
  justify-content: center;
  transition: 0.4s;
}

.btnSignIn:hover {
  border-radius: 25px;
  margin-top: 45px;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: #34495e;
  text-decoration: none;
  justify-content: center;
}
.githubIcon {
  margin-bottom: 5px;
  margin-right: 20px;
}
.todoText {
  color: #34495e;
  margin-top: 100px;
  font-family: cursive;
  font-weight: bold;
}

.backBtn {
  font-size: 24px;
  color: #34495e;
  padding-bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #e0e5eb;
  transition: 0.2s;
}
.backBtn:hover {
  background-color: #34495e;
  color: #e0e5eb;
}

.App {
  margin: auto;
  text-align: center;
  min-height: 100vh;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: calc(0.9rem + 2vmin);
  color: white;
}

.Todo-card {
  margin: 0 1rem;
}

.App-transition {
  transition: all 0.2s;
}

.App-border-radius {
  border-radius: 0.5rem;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.Input-container {
  display: flex;
  gap: 1rem;
}

.Input-field {
  width: 100%;
  height: 3rem;
  font-size: 1.25rem;
  padding-left: 0.75rem;

  transition: var(--app-transition);
}

.App-button {
  border-radius: 0.5rem;

  background-color: #fff;
  box-shadow: 2px 2px var(--shadow-color);
  color: #282c34;
  font-size: 1.125rem;
  outline: none;
  transition: var(--app-transition);
}

.Add-button {
  width: 6rem;
}

.Input-field:focus,
.App-button:hover,
.App-button:focus,
.List-tile:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px var(--shadow-color);
}

.App-button:active.App-button:focus {
  transform: translate(0, 0);
  box-shadow: 0 0;
}

.List-view {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1.5rem;
}

.List-tile {
  background: aliceblue;
  color: #282c34;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.6rem;
  padding: 1rem 1.25rem;
  width: 70%;
  margin: 0.2rem;
  font-size: 1.65rem;
  transition: var(--app-transition);
}

.List-tile-title {
  width: 100%;
  text-align: left;
}

.List-tile-leading {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.List-tile-trailing {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.Login-card {
  padding: 0 2rem;
}

.Form-container form {
  text-align: left;
}

.Form-input {
  display: block;
}

.Form-label {
  font-size: 0.95rem;
  opacity: 65%;
  text-align: left;
}

.Form-submit-container {
  text-align: center;
}

.Form-submit {
  margin-top: 2rem;
  width: 60%;
  height: 2.5rem;
}

.Todo-update-submit {
  height: 1.75rem;
  font-size: 1rem;
  background: white;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 4px 1px #282c3454;
  cursor: pointer;
}

.Todo-update-submit:hover {
  box-shadow: 2px 2px 8px 2px #282c3454;
}
